<% content_for :title, "Editing ventum" %>

<h1>Editing ventum</h1>

<%= render "form", ventum: @ventum %>

<br>

<div>
  <%= link_to "Show this ventum", @ventum %> |
  <%= link_to "Back to venta", venta_path %>
</div>
