<p style="color: green"><%= notice %></p>

<% content_for :title, "Venta" %>

<h1 class="mb-4"><i class="bi bi-receipt"></i> Ventas</h1>

<div class="main-card">
  <div class="table-responsive">
    <table class="table-base table table-sm align-middle">
      <thead>
        <tr>
          <th>Fecha y hora</th>
          <th>Total</th>
          <th>Comprador</th>
          <th>Empleado</th>
          <th>Acciones</th>
        </tr>
      </thead>
    </table>
  </div>

  <p class="mt-3">
    <%= link_to({ controller: 'venta', action: :new }, class: "btn btn-as-dark") do %>
      <i class="bi bi-plus-circle"></i> Nueva venta
    <% end %>
  </p>
</div>
