<% content_for :title, "New venta" %>

<h1 class="mb-4"><i class="bi bi-plus-circle"></i> Nueva venta</h1>

<div class="main-card">
  <%= render "form", venta: @venta %>

  <div class="mt-3">
    <%= link_to({ controller: 'venta', action: :index }, class: "btn btn-outline-secondary") do %>
      <i class="bi bi-arrow-left"></i> Volver
    <% end %>
  </div>
</div>
