<%= render "bases/base_show",
           title: "Vehículo ##{@vehiculo.id}",
           fields: {
             "Usuario" => @vehiculo.usuario&.nombre,
             "Marca"   => @vehiculo.marca,
             "Modelo"  => @vehiculo.modelo,
             "Año"     => @vehiculo.anio
           } %>

<p>
  <%= link_to 'Editar', edit_vehiculo_path(@vehiculo) %> |
  <%= link_to 'Eliminar', vehiculo_path(@vehiculo), method: :delete, data: { confirm: '¿Seguro que quieres eliminar este vehículo?' } %> |
  <%= link_to 'Volver', vehiculos_path %>
  </p>
