<% content_for :title, "Editar producto" %>

<h1 class="mb-4"><i class="bi bi-pencil-square"></i> Editar producto</h1>

<%= render "form", producto: @producto %>

<br>

<div>
  <%= link_to raw('<i class="bi bi-search"></i> Ver'), @producto, class: "btn btn-as-dark btn-sm" %>
  <%= link_to raw('<i class="bi bi-arrow-left"></i> Volver'), productos_path, class: "btn btn-as-dark btn-sm" %>
</div>
