

<%= render @producto %>

<div class="d-flex flex-row flex-wrap gap-2 mt-3">
  <%= link_to edit_producto_path(@producto), class: "btn btn-as-dark btn-sm" do %>
    <i class="bi bi-pencil-square"></i> Editar
  <% end %>
  <%= button_to producto_path(@producto),
                method: :delete,
                class: "btn btn-as-dark btn-sm",
                onclick: "return confirm('¿Estás seguro que deseas eliminar este producto?');" do %>
    <i class="bi bi-trash3"></i> Eliminar
  <% end %>
  <%= link_to productos_path, class: "btn btn-as-dark btn-sm" do %>
    <i class="bi bi-arrow-left"></i> Volver
  <% end %>
</div>

