<tr>
  <td><%= item.nombre %></td>
  <td><%= item.email %></td>
  <td>
    <%= link_to usuario_path(item), class: "btn btn-sm btn-dark" do %>
      <i class="bi bi-search"></i> Ver
    <% end %>
  </td>
</tr>
