<%= render "bases/base_index",
           title: "Usuarios",
           columns: ["Nombre", "Email"],
           collection: @usuarios,
           row_partial: "usuarios/row" %>

<p>
  <%= link_to 'Nuevo Usuario', new_usuario_path %>
</p>