<%= render "bases/base_show",
					 title: @usuario.nombre,
					 fields: {
						 "Email" => @usuario.email
					 } %>

<p>
	<%= link_to 'Editar', edit_usuario_path(@usuario) %> |
	<%= link_to 'Eliminar', usuario_path(@usuario), method: :delete, data: { confirm: '¿Seguro que quieres eliminar este usuario?' } %> |
	<%= link_to 'Volver', usuarios_path %>
</p>