<%= render "bases/base_show",
           title: @usuario.nombre,
           fields: {
             "Email" => @usuario.email,
             "DNI" => @usuario.dni,
             "Rol" => Usuario::ROLES.key(@usuario.rol)&.to_s&.capitalize
           } %>

<div class="d-flex flex-row flex-wrap gap-2 mt-3">
  <%= link_to edit_usuario_path(@usuario), class: "btn btn-as-dark btn-sm" do %>
    <i class="bi bi-pencil-square"></i> Editar
  <% end %>

  <%= button_to usuario_path(@usuario),
                method: :delete,
                data: { turbo_confirm: "¿Seguro que quieres eliminar este usuario?" },
                class: "btn btn-as-dark btn-sm" do %>
    <i class="bi bi-trash3"></i> Eliminar
  <% end %>

  <%= link_to usuarios_path, class: "btn btn-as-dark btn-sm" do %>
    <i class="bi bi-arrow-left"></i> Volver
  <% end %>
</div>