<%= render "bases/base_show",
           title: @usuario.nombre,
           fields: {
             "Email" => @usuario.email
           } %>

<p class="mt-3">
  <%= link_to edit_usuario_path(@usuario), class: "btn btn-dark me-2" do %>
    <i class="bi bi-pencil-square"></i> Editar
  <% end %>

  <%= link_to usuario_path(@usuario),
              data: { turbo_method: :delete, turbo_confirm: "¿Seguro que quieres eliminar este usuario?" },
              class: "btn btn-dark me-2" do %>
    <i class="bi bi-trash3"></i> Eliminar
  <% end %>

  <%= link_to usuarios_path, class: "btn btn-dark" do %>
    <i class="bi bi-arrow-left"></i> Volver
  <% end %>
</p>