<h1><%= title %></h1>

<table>
  <thead>
    <tr>
      <% ah = local_assigns[:actions_header] || '' %>
      <% (columns + [ah]).each do |c| %>
        <th><%= c %></th>
      <% end %>
    </tr>
  </thead>
  <tbody>
    <% collection.each do |item| %>
      <%= render partial: row_partial, locals: { item: item } %>
    <% end %>
  </tbody>
</table>

<% if collection.blank? %>
  <p>No hay registros.</p>
<% end %>
